NEXT_PUBLIC_API_BASE_URL=http://localhost:3000/api/v1


# RESEND CONFIGURATION
RESEND_API_KEY=re_your_api_key
STORE_EMAIL=your-store@email.com
RESEND_FROM_EMAIL=onboarding@resend.dev


# # Connect to Postgres via the shared transaction-mode pooler (IPv4-only)
DATABASE_URL="postgresql://postgres......."

# Connect to Postgres via the shared session-mode pooler (used for migrations)
DIRECT_URL="postgresql://postgres......"